menu {
    width: 100px;
    height: 85vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    margin-top: 100px;
    border-radius: 50px;
    margin-left: 10px;
  }
  
  menu ul {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  menu ul li {
    list-style: none;
    margin: 20px 0;
    position: relative;
    color: #8c8a95;
    width: 100%;
    text-align: center;
  }
  
  menu ul li a {
    font-size: 24px;
    color: #494545;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  menu ul li a::before {
    position: absolute;
    content: "";
    top: 1px;
    left: -1px;
    width: 0px;
    height: 30px;
    background: #51e3eb;
  }
  
  menu ul li:hover a::before {
    width: 30px;
    transition: all 0.3s;
  }
  
  menu ul li.active a::before {
    width: 20px;
    transition: all 0.3s;
  }
  
  menu ul li.active a {
    color: #00f2ff;
  }
  
  menu ul li:hover a {
    color: #0e7d83;
  }
  
  .lastMenu {
    margin-top: auto;
  }
  
  @media only screen and (max-width: 525px) {
    menu {
      min-width: 68px;
    }
  }
  